<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Features vs Benefits </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
</head>
<body>

    <nav class = "menu">
        <ul>
            <li class = "navitem"><a href = "../">Home</a></li>
            <li class = "navitem"><a href = "../KVP">KVP</a></li>
            <li class = "navitem"><a href = "../LawsofUI">Laws of UI</a></li>
            <li class = "navitem"><a href = "../ProductIA">Product IA</a></li>
            <li class = "navitem"><a href = "">Features vs Benefits</a></li>
            <li class = "navitem"><a href = "../interaction">Product Interactions</a></li>
            <li class = "navitem"><a href = "../revenue">Revenue Model</a></li>
            <li class = "navitem"><a href = "../pivot">Pivot</a></li>
        </ul>
    </nav>

    <h1> Features vs Benefits</h1>

    <table>
        <tr>
            <th>Features</th>
            <th>Benefits</th>
        </tr>
        <tr>
            <td> Responds to physical activity by tracking steps.</td>
            <td> This benefits parents by encouraging their children to be more active and play outside. </td>
        </tr>
        <tr>
            <td> Interacts with other pep pets. </td>
            <td> This benefits children by creating another way to socialize with their friends.</td>
        </tr>
        <tr>
            <td> Pep Pets are small and hand held. </td>
            <td> This benefits kids so they can easily take Pep Pets anywhere with them. </td>
        </tr>
        <tr>
            <td> Pep Pets need to be taken care of like with feeding, walking, etc. </td>
            <td> This benefits parents by teaching their children a sense of responsibility to take care of others. </td>
        </tr>
        <tr>
            <td> The Pep Pet will level up over time. </td>
            <td> This benefits kids by making the Pep Pet more engaging to kids and shows growth over time.</td>
        </tr>
    </table>

    
</body>
</html>