<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> ECE140B Page </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
</head>
<body>

    <nav class = "menu">
        <ul>
            <li class = "navitem"><a href = "">Home</a></li>
            <li class = "navitem"><a href = "KVP">KVP</a></li>
        </ul>
    </nav>

    <h1>ECE140B Page</h1>

    <div class = "intro">
        <h2>Current Project Idea: Pep Pets</h2>
        <h3>Team: Anthony Chan, Kathy Li, Kendrick Nguyen, Alex Hernandez-Perez</h3>

        <p>
            Our project, Pep Pets, is a digital handheld pet marketed towards young children around ages 8 - 13. It is a digital pet that
            needs to be taken care of and incentivizes children to become more active, social and learn about the responsibilities of raising
            a pet.
        </p>
    </div>


    <div class = "description">
        <div class = "who">
            <h4>Who is it for?</h4>

            <p>
                Pep Pets is designed for children around the ages 8-13. It gives children around that age another way to play and socialize with
                each other. Pep Pets is also a great way to help parents teach their children responsibilities for taking care of pets as well as 
                caring for others.
            </p>

        </div>
        <div class = "what">
            <h4>What it does</h4>

            <p>
                Pep Pets is an alternative to mobile games for children to have fun and interact with friends. It is a digital pet 
                that you can take care of by playing with it, being active outside, socializing with friends, and taking care of it.
            </p>

        </div>
        <div class = "how">
            <h4>How it works</h4>
            
            <p>
                Pep pets has a happiness bar and tiredness bar that needs to be taken care of. This can be done by completing tasks, 
                taking care of the pet, feeding it, etc. All actions that take care of the pet will change the levels of the happiness
                and tiredness bars. Taking care of the Pep Pet will accumulate experience points which will level up the Pep Pet and 
                unlock customizations. Interacting with friends will increase the accumlated experience points.
            </p>

        </div>
        <div class = "benefits">
            <h4>Key Benefits</h4>
            
            <p>
                The benefits of Pep Pets is that we provide your children with a safe and engaging way to have fun and socialize. Children 
                will be incentived to go outside and be more active while taking care of their Pep Pet.
            </p>

        </div>

    </div>


    
</body>
</html>