<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> ECE140B Page </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
</head>
<body>

    <nav class = "menu">
        <ul>
            <li class = "navitem"><a href = "">Home</a></li>
            <li class = "navitem"><a href = "KVP">KVP</a></li>
            <li class = "navitem"><a href = "LawsofUI">Laws of UI</a></li>
        </ul>
    </nav>

    <h1>ECE140B Page</h1>

    <div class = "intro">
        <h2>Current Project Idea: Pep Pets</h2>
        <h3>Team: Anthony Chan, Kathy Li, Kendrick Nguyen, Alex Hernandez-Perez</h3>

        <p>
            Our project, Pep Pets, is a digital handheld pet marketed towards young children around ages 8 - 13. It is a digital pet that
            needs to be taken care of and incentivizes children to become more active, social and learn about the responsibilities of raising
            a pet.
        </p>
    </div>


    <div class = "description">
        <div class = "who">
            <h4>Who is it for?</h4>

            <p>
                Pep Pets is designed for children around the ages 8-13. It gives children around that age another way to play and socialize with
                each other. Pep Pets is also a great way to help parents teach their children responsibilities for taking care of pets as well as 
                caring for others.
            </p>

        </div>
        <div class = "what">
            <h4>What it does</h4>

            <p>
                Pep Pets is an alternative to mobile games for children to have fun and interact with friends. It is a digital pet 
                that you can take care of by playing with it, being active outside, socializing with friends, and taking care of it.
            </p>

        </div>
        <div class = "how">
            <h4>How it works</h4>
            
            <p>
                Pep pets has a happiness bar and tiredness bar that needs to be taken care of. This can be done by completing tasks, 
                taking care of the pet, feeding it, etc. All actions that take care of the pet will change the levels of the happiness
                and tiredness bars. Taking care of the Pep Pet will accumulate experience points which will level up the Pep Pet and 
                unlock customizations. Interacting with friends will increase the accumlated experience points.
            </p>

        </div>
        <div class = "benefits">
            <h4>Key Benefits</h4>
            
            <p>
                The benefits of Pep Pets is that we provide your children with a safe and engaging way to have fun and socialize. Children 
                will be incentived to go outside and be more active while taking care of their Pep Pet.
            </p>

        </div>

    </div>

    <div class = "empathymap">
        <h2>Empathy Map: Parents</h3>
        <h3>Goals: Raising Responsibile and Healthy Children</h3>
        <div class = "description">
            <div>
                <h4> Says </h4>
                <ul>
                    <li> Be nice to others. </li>
                    <li> Take care of your belongings. </li>
                    <li> Go make friends. </li>
                    <li> Go play outside. </li>
                    <li> I love you. </li>
                </ul>

            </div>

            <div>
                <h4> Does </h4>
                <ul>
                    <li> Enforces Rules </li>
                    <li> Brings kids to school </li>
                    <li> Sign up kids for sports and extracurriculars </li>
                    <li> Encourages kids to socialize with others </li>
                    <li> Make kids do chores </li>
                    <li> Rewards good behavior </li>
                </ul>
            </div>
            
            <div>
                <h4> Thinks </h4>
                <ul>
                    <li> I want my child to become more responsible and active. </li>
                    <li> Can my kids be trusted with more freedom? </li>
                    <li> Are my kids responsible enough to take care of others? </li>
                    <li> How can I make them happy? </li>
                </ul>
            </div>
            
            <div>
                <h4> Feels </h4>
                <ul>
                    <li> Anxious over their children's safety and future </li>
                    <li> Proud of accomplishments </li>
                    <li> Love for their children </li>
                    <li> Overwhelmed with all the things parenthood requires </li>
                </ul>
            </div>
        </div>

    </div>

    <div class = "mockup"> 
        <h2> Our Current Product Mock-Up </h2>
        <div class = "description">
            <div>
                <h4> Our Overall Concept Design</h4>
                <div>
                    The pep pet is planned to be a small handheld device that children will take care of. It will have indicators for 
                    hunger and happiness as well as an experience bar to show growth. There will be buttons to be able to interact with it
                    in ways such as feeding the pet, putting it to sleep, and other activities.
                </div>
                {% load static %} <img src ="{% static "media/conceptdesign.jpeg" %}" alt = "home" height = "500rem"/>
            </div>
            <div>
                <h4> Our Feeding Functionality</h4>
                <div>
                    This is the UI design we have so far. There will be 3 buttons. 2 buttons on each side will be used to select between options.
                    The button in the middle will be used to select the action. For this particular example, the feeding function is shown. You 
                    will be able to select to feed the pet, then select a type of food. This will increase the hunger bar to show that the Pep Pet
                    has been fed and is satisfied.
                </div>
                {% load static %} <img src ="{% static "media/feeding.png" %}" alt = "home" width = "500rem" />
            </div>
        </div>
    </div>
    

    
</body>
</html>