<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Product Interactions </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
</head>
<body>

    <nav class = "menu">
        <ul>
            <li class = "navitem"><a href = "../">Home</a></li>
            <li class = "navitem"><a href = "../KVP">KVP</a></li>
            <li class = "navitem"><a href = "../LawsofUI">Laws of UI</a></li>
            <li class = "navitem"><a href = "../ProductIA">Product IA</a></li>
            <li class = "navitem"><a href = "../featurebenefit">Features vs Benefits</a></li>
            <li class = "navitem"><a href = "">Product Interactions</a></li>
            <li class = "navitem"><a href = "../revenue">Revenue Model</a></li>
        </ul>
    </nav>

    <h1> Key Product Interactions </h1>

    <div class = "interactions">
        <div class = "description">
            
            <div>
                <h4> Pep Pet Interactions</h4>
                <p> Pep Pets can interact with other pep pets by physically connecting and increase the experience and happiness that they gain to encourage socializing 
                    with friends and their pep pets.
                </p>
            </div>
            <div>
                <h4> Parent Website </h4>
                <p>
                    The parents have access to a website that can keep track of their child's Pep pet progress and friends that they make to 
                    see how active their children are and how much they socialize with their friends.
                </p>
            </div>
            <div>
                <h4> Minimalist Design </h4>
                <p>
                    The pep pet will have a simple design with only 3 buttons and a simplet interface. This will make the Pep Pet easy to use and 
                    easy to understand how it works.
                </p>
            </div>
            <div>
                <h4> Experience Levels </h4>
                <p>
                    The Pep Pet will display an experience bar and acuumulated levels to show a sense of prgoression and goals to progress further.
                </p>
            </div>
        </div>
    </div>
</body>
</html>