<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> KVP Page </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
</head>
<body>
    <div>
        <nav class = "menu">
            <ul>
                <li class = "navitem"><a href = "../">Home</a></li>
                <li class = "navitem"><a href = "">KVP</a></li>
                <li class = "navitem"><a href = "../LawsofUI">Laws of UI</a></li>
                <li class = "navitem"><a href = "../ProductIA">Product IA</a></li>
                <li class = "navitem"><a href = "../featurebenefit">Features vs Benefits</a></li>
                <li class = "navitem"><a href = "../interaction">Product Interactions</a></li>
                <li class = "navitem"><a href = "../revenue">Revenue Model</a></li>
            </ul>
        </nav>
    </div>

    <h1>KVP Page</h1>

    <div class = "intro">
        <h3>Pep Pets: KVP</h3>
        <p>
            Our product, Pep Pets, helps parents who want to engage their children in fun activites outside by creating a fun alternative to 
            phones and mobile games that expose children to the dangers of the internet and incentivizes children to be more active outside 
            and socialize with their peers, unlike mobile games that lead to children glued onto their screen.
        </p>

    </div>

    <div class = "description">
        <div class = "OurPromise">
            <h4>Our Promise</h4>

            <p>
                Pep Pets promises a fun alternative way for your children to have fun and socialize with others.
                It also helps teach your children a sense of responsibility to take care of their own pet as well as others.
            </p>

        </div>
        <div class = "Benefits">
            <h4>Benefits</h4>

            <p>
                The benefits of Pep Pets is that we provide your children with a safe and engaging way to have fun and socialize. Children 
                will be incentived to go outside and be more active while taking care of their Pep Pet

            </p>

        </div>
        <div class = "WhyUs">
            <h4>Why Us?</h4>

            <p>
                Pep Pets gives children an alternative way to have fun instead of mobile games on a phone. While letting children play on a phone,
                they are potentially exposed to some of the dangers of the internet such as meeting strangers, sharing personal information and potentially
                irresponsible use of microtransactions. Pep pets provides fun engaging activities while disconnencted from the dangers of the internet.
                <br><br>
                Additionally, Pep Pets is a more engaging way to promote your children to be more active outside. Instead of using products intended only 
                for promoting excercise which may be boring to children, Pep Pets give children an incentive to take care of it by completing activities outside
                as well as opportunities to socialize with friends.
            </p>

        </div>
    </div>
</body>
</html>