<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Pivot </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
</head>
<body>

    <nav class = "menu">
        <ul>
            <li class = "navitem"><a href = "../">Home</a></li>
            <li class = "navitem"><a href = "../KVP">KVP</a></li>
            <li class = "navitem"><a href = "../LawsofUI">Laws of UI</a></li>
            <li class = "navitem"><a href = "../ProductIA">Product IA</a></li>
            <li class = "navitem"><a href = "../featurebenefit">Features vs Benefits</a></li>
            <li class = "navitem"><a href = "../interaction">Product Interactions</a></li>
            <li class = "navitem"><a href = "../revenue">Revenue Model</a></li>
            <li class = "navitem"><a href = "">Pivot</a></li>
        </ul>
    </nav>

    <h1> Pivots </h1>

    <div class = "description">
        <div>
            <h4>Pivots Done</h4>
            <p>
                Through our customer market analysis we've done, we've found that parents like daily task feature and how it motivates their children to 
                complete tasks like walking around and taking care of their Pep Pets. We've decided to expand this feature and allow parents to add custom
                tasks to add things that they want their children to do like doing chores such as cleaning dishes, taking out the trash, etc and the parents
                will be able to give them custom rewards.
            </p>

            <h4>Zoom-In Pivot</h4>
            <p>
                The pivot we've done is a Zoom-In pivot. This is because we have found one of our features that our customers like, the daily task feature,
                and have improved it. By giving the parents the ability to custominze the daily tasks, they can add how they want to raise their children
                and add ways that they want to teach their children about taking up responsibilities.
            </p>
        </div>
        <div>
            <h4> Future Pivots</h4>
            <p>
                In the futures, we may plan to expand the customer base. The daily task feature can also be useful in an educational setting to reward 
                students for completing homework or doing extra activities such as reading a book, or completing practice assignments. We would like to
                develop PepPets to be easily integrated to the classroom and potentially be able to link multiple PepPets in a classroom to have the same
                educational tasks.
            </p>

            <h4>Platform Pivot</h4>
            <p>
                This is a platform pivot. We are finding a different avenue that might be in need of our product. Rather than a handheld toy that empulates
                a pet and teaches responsibilities, we can focus on a educational setting and pivot towards an educational aid tool to help motivate students
                in a classroom setting and add more engagement to their studies.
            </p>
        </div>
        <div>
            <h4>Considered Pivots</h4>
            <p>
                Some pivots have been suggested like adding microtransactions to unlock more collectable items. However, we do not believe that we should 
                do this pivot. PepPets is a tool to teach young children responsibilities. We want this to be less like a game and lean more towards the
                educational tool. Adding microtransactions adds the risk of children irresponsibly spending their parents' money and distracts them away 
                from the main purpose to learn to be responsible.
            </p>
        </div>
    </div>
</body>
</html>