<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Product IA </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
</head>
<body>

    <nav class = "menu">
        <ul>
            <li class = "navitem"><a href = "../">Home</a></li>
            <li class = "navitem"><a href = "../KVP">KVP</a></li>
            <li class = "navitem"><a href = "../LawsofUI">Laws of UI</a></li>
            <li class = "navitem"><a href = "">Product IA</a></li>
            <li class = "navitem"><a href = "../featurebenefit">Features vs Benefits</a></li>
            <li class = "navitem"><a href = "../interaction">Product Interactions</a></li>
            <li class = "navitem"><a href = "../revenue">Revenue Model</a></li>
            <li class = "navitem"><a href = "../pivot">Pivot</a></li>
        </ul>
    </nav>

    <div class = "ProductIA">
        <h3> Our Product's IA </h3>

        <div class = "description">
            <div class = "PreviousInfo">
                <h4> Previous Information </h4>
                <p>
                    The user will need to have previous experience with other games consoles such as a Gameboy, Switch, PlayStation, etc.
                    As our product is another game console, there will be very similar IA designs and controls as other game consoles and
                    previous experience with them will allow the user to easily adapt to our product.
                </p>
            </div>
            <div>
                <h4> IA Design Principles</h4>
                <p>
                    The Principle of Choices is very important to our product. We want to deliver a small and compact device, so a simplistic
                    design is necessary. There will only be 3 buttons available to be used to limit the number of choices and make the function
                    of each button easy to understand and use. The menu will similarly only show a few choices at a time to make it easier to 
                    understand as well. It will be organized witht the Principle of disclosure in mind to only show what the user needs at the time
                    with other functions hidden in layers within menus.
                </p>
            </div>
            <div>
                <h4> Organizational Principles </h4>
                <p>
                    Pep Pets will use a topical organizational structure. For the option available on the screen, there will be options for a menu,
                    feeding, and experience levels. The menu will have all the features listed under categories so they will be easily found. The 
                    feeding option will reveal all the food options and feed the pet. And the Experience level option will show the user's progress 
                    with raising the pet and show potiential unlockable rewards.
                </p>
            </div>
        </div>
    </div>

    <div class = "visuahierarchy">
        <h4> Visual Hierachy </h4>
        <p>
            I have used the Visual Hierarchy Principle of Leading Lines to better indicate buttons on my webpage that can be pressed.
            I have also used the Visual Hierachy of Size and scale to increase the font size when a button is hovered over to help 
            recognize that the buttons can be interacted with and can be pressed.
            I also used the Visual Hierachy of Color and Contrast to change the color of the buttons to a lighter color to also help indicate 
            that the button is interactable and can be pressed to complete a function.
        </p>
    </div>

    
</body>
</html>