<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Revenue Model </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
</head>
<body>

    <nav class = "menu">
        <ul>
            <li class = "navitem"><a href = "../">Home</a></li>
            <li class = "navitem"><a href = "../KVP">KVP</a></li>
            <li class = "navitem"><a href = "../LawsofUI">Laws of UI</a></li>
            <li class = "navitem"><a href = "../ProductIA">Product IA</a></li>
            <li class = "navitem"><a href = "../featurebenefit">Features vs Benefits</a></li>
            <li class = "navitem"><a href = "../interaction">Product Interactions</a></li>
            <li class = "navitem"><a href = "">Revenue Model</a></li>
        </ul>
    </nav>

    <h1>Revnue Model</h1>
    
    <h3>Costs</h3>
    <div class = "description">
        <div>
            <h4> Costs</h4>
            <div>
                <table>
                    <tr>
                        <th>Quantity</th>
                        <th>Component</th>
                        <th>Cost</th>
                    </tr>
                    <tr>
                        <td>1x</td>
                        <td>Raspberry Pi Zero</td>
                        <td>$5.00</td>
                    </tr>
                    <tr>
                        <td>3x</td>
                        <td>Shift Registers</td>
                        <td>$0.83</td>
                    </tr>
                    <tr>
                        <td>3x</td>
                        <td>10-Segment LED display</td>
                        <td>$2.25</td>
                    </tr>
                    <tr>
                        <td>3x</td>
                        <td>Pushbutton</td>
                        <td>$0.39</td>
                    </tr>
                    <tr>
                        <td>1x</td>
                        <td>OLED Display</td>
                        <td>$2.78</td>
                    </tr>
                    <tr>
                        <td>1x</td>
                        <td>3.7V Lipo Battery</td>
                        <td>$3.00</td>
                    </tr>
                    <tr>
                        <td>1x</td>
                        <td>MPU6040 (Accelerometer Gyroscope)</td>
                        <td>$0.99</td>
                    </tr>
                    <tr>
                        <td>1x</td>
                        <td>3D Printed Case</td>
                        <td>$1.80</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Labor</td>
                        <td>$5.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td>$21.04</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <h4> Revenue </h4>
            <div>
                <table>
                    <tr>
                        <th>Year</th>
                        <th>Manufactured</th>
                        <th>Sales</th>
                        <th>Cost</th>
                        <th>Net Profit</th>
                    </tr>
                    <tr>
                        <td>2023</td>
                        <td>40,000</td>
                        <td>$1,600,000</td>
                        <td>$841,600</td>
                        <td>$758,400</td>
                    </tr>
                    <tr>
                        <td>2024</td>
                        <td>80,000</td>
                        <td>$3,200,000</td>
                        <td>$1,683,200</td>
                        <td>$1,516,800</td>
                    </tr>
                    <tr>
                        <td>2025</td>
                        <td>100,000</td>
                        <td>$4,000,000</td>
                        <td>$2,104,000</td>
                        <td>$1,896,000</td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>Revenue Channels</h4>
                <p>Pep pets will be sold through online retail like Amazon, our own website and other toy sites. It will also be sold through 
                    Brick and mortar stores such as Toys R Us, department stores, malls, etc. We expect most of our sales to be through online
                    retail. Our projected revenue sales is shown on the table to the left. For our first year, we expect to sell around 40,000
                    units which gives us a profit of $758,400. After our first year, we expect to grow a lot with our projected revenue sales 
                    shown in the table
                </p>
            </div>
        </div>
    </div>
</body>
</html>