body {
    background-color: hsl(188, 82%, 13%);
    color: hsl(117, 47%, 55%);
    font-family: sans-serif;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.description {
    color: hsl(117, 44%, 75%);
}