body {
    background-color: hsl(188, 82%, 13%);
    color: hsl(117, 47%, 55%);
    font-family: sans-serif;
    
}

nav {
    margin-left: 0px;
    width: 100%;
    padding: 0px;
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
}
.menu ul{
    padding: 0px;
    display:flex;
    flex-direction: row;
    list-style: none;
}

.navitem{    
    background: hsl(158, 83%, 26%);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.navitem a {
    color: white;
    font-weight: 300;
    text-decoration: none;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.description {
    display:flex;
    flex-direction: row;
    color: hsl(117, 44%, 75%);
}

.description div{
    display: inline-block;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.description div h4{
    text-align: center;
}